@import "tailwindcss";

@theme {
  --color-primary: #030712;
  --color-secondary: #101828;
  --color-details: #394152;
  --color-dark-gray: #1f2937;
  --font-poppins: "Poppins", sans-serif;
}

.base-layout {
  @apply w-full max-w-7xl px-4 py-4 md:px-16 md:py-8 xl:mx-auto;
}

.item-menu {
  @apply hover:bg-details w-full rounded-sm py-1 text-center text-sm hover:cursor-pointer;
}

.item-menu-active {
  @apply bg-dark-gray;
}

.card {
  @apply bg-secondary border-details flex-1 rounded-xl border px-6 py-4;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
