---
import MainLayout from "@layouts/MainLayout.astro";
import RecentTransactions from "@sections/RecentTransactions.astro";
import ResumeDashboard from "@sections/ResumeDashboard.astro";
import SavingGoals from "@sections/SavingGoals.astro";
---

<MainLayout>
  <ResumeDashboard />
  <section class="flex flex-col gap-4 md:flex-row">
    <RecentTransactions />
    <SavingGoals />
  </section>
</MainLayout>
