---
import MainLayout from "@layouts/MainLayout.astro";
import RecentTransactions from "@sections/dashboard/RecentTransactions.astro";
import ResumeDashboard from "@sections/dashboard/ResumeDashboard.astro";
import SavingGoals from "@sections/dashboard/SavingGoals.astro";
---

<MainLayout>
  <ResumeDashboard />
  <section class="flex flex-col gap-4 md:flex-row">
    <RecentTransactions title="Transacciones Recientes" />
    <SavingGoals />
  </section>
</MainLayout>
