---
import TransactionList from "@components/TransactionList.astro";
import MainLayout from "@layouts/MainLayout.astro";
import type { Transaction } from "@lib/interfaces/Transaction.interface";
import { transactions } from "@lib/mocks/transactions.mock";

const transactionList: Transaction[] = transactions;
---

<MainLayout>
  <section class="flex flex-col gap-4 md:flex-row">
    <TransactionList
      title="Historial de Transacciones"
      transactions={transactionList}
    />
  </section>
</MainLayout>
