---
import MainLayout from "@layouts/MainLayout.astro";
import RecentTransactions from "@sections/dashboard/RecentTransactions.astro";
---

<MainLayout>
  <section class="flex flex-col gap-4 md:flex-row">
    <RecentTransactions title="Historial de Transacciones" />
  </section>
</MainLayout>
