<section class="flex gap-2">
  <button
    class="bg-secondary hover:bg-secondary-hover h-full w-full rounded-sm px-4 py-2 hover:cursor-pointer"
    >Dashboard</button
  >
  <button
    class="bg-secondary hover:bg-secondary-hover h-full w-full rounded-sm px-4 py-2 hover:cursor-pointer"
    >Transacciones</button
  >
  <button
    class="bg-secondary hover:bg-secondary-hover h-full w-full rounded-sm px-4 py-2 hover:cursor-pointer"
    >Objetivos</button
  >
  <button
    class="bg-secondary hover:bg-secondary-hover h-full w-full rounded-sm px-4 py-2 hover:cursor-pointer"
    >Préstamos</button
  >
</section>
