<section class="flex flex-col gap-2 py-8 sm:flex-row">
  <button class="btn-primary flex-1">Dashboard</button>
  <button class="btn-primary flex-1">Transacciones</button>
  <button class="btn-primary flex-1">Objetivos</button>
  <button class="btn-primary flex-1">Préstamos</button>
</section>
