---
import "@fontsource-variable/inter";
import "@fontsource/poppins";
import "@styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta
      name="description"
      content="GastosApp - registra ingresos y gastos, controla tus cuentas, analiza estadísticas y gráficas, y toma el control de tu dinero desde cualquier lugar."
    />

    <!-- Etiquetas Open Graph (imprescindibles para compartir en redes sociales) -->
    <!-- <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="GastosApp - Controla tus finanzas fácilmente"
    />
    <meta
      property="og:description"
      content="Gestiona tus finanzas fácilmente con GastosApp: registra ingresos y gastos, controla tus cuentas, analiza estadísticas y gráficas, y toma el control de tu dinero desde cualquier lugar."
    />
    <meta property="og:url" content="https://tudominio.com" />
    <meta property="og:image" content="https://tudominio.com/og-image.png" />
    <meta property="og:site_name" content="GastosApp" /> -->
  </head>
  <body>
    <main class="w-full px-16 py-8">
      <slot />
    </main>
    <footer class="pb-4 text-center">
      <p>© 2025 GastosApp - Controla tus finanzas fácilmente</p>
    </footer>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--color-primary);
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Poppins", sans-serif;
  }

  button,
  input,
  label {
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }
</style>
